{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Login{% endblock %}
{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey}}</div>
    {% endif %}

<div class="card-panel grey lighten-5 ">
    <h2 class="col s12">Login</h2>

    <div class="row valign-wrapper">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />


            <div class="input-field col s12">
                <input class="validate" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <label for="username">Username</label>
            </div>

            <div class="input-field col s12">
                <input type="password" id="password" name="_password" required="required" />
                <label for="password">Password</label>
            </div>

            <div class="input-field col s6">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Remember me</label>
            </div>

            <div class="input-field col s6">
                <input class="btn" type="submit" id="_submit" name="_submit" value="Login" />
            </div>

            <div class="input-field col s12">
                <a class="teal-text" href="{{ path('fos_user_resetting_request') }}">Forgot password ? </a>
            </div>
        </form>

    </div>
</div>
{% endblock fos_user_content %}